
<%= form_for @tanko do |f| %>
<% if @tanko.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@tanko.errors.count, "error") %> prohibited
      </h2>
      <ul>
        <% @tanko.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :service_name %><br>
    <%= f.text_field :service_name %>
  </p>
  <p>
    <%= f.label :description%><br>
    <%= f.text_area :description %>
  </p>
  <% if @tanko.new_record? %>
  <p>Service template
  <% options = options_from_collection_for_select(@templates, 'id', 'service_name')  %>                                   
  <%= f.select :metadata,  options, {:include_blank => 'None'}, { :class => 'form-control' }  %>
  </p>
  <% else %>
  <p>Use as Template
  <%= f.check_box :template %> <br />
  <% end %>
  <p>
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
 <i class="glyphicon glyphicon-cloud"></i> Submit
<% end %>
  </p>
<% end %>
