<%= form_for([@tanko, @tanko.containers.build]) do |f| %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-file">
                            </span>Container Specs</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <%= f.text_field :instance_name, class: "form-control", :placeholder => "name", :required => "true" %>
                                    </div>
                                    <div class="form-group">
                                        <%= f.text_area :description, class: "form-control", :placeholder => "description" %>
                                    </div>
                                    <div class="form-group">                                                                                                               
                                        <label for="category">                                                                                                             
                                            Category</label>                                                                                                               
                                        <%= f.select :instance_type, options_for_select([["Load Balancer", "lb"],["Front End Service", "fe"],["Back End Service", "be"] ]), {}, { :class => '
form-control' } %>
                                    </div>
				    <div class="well well-sm well-primary">                                                                                                
                                        <div class="form-group">                                                                                                           
                                        <label class="input-group-addon" for="category">                                                                                   
                                            Select docker image (Official Images)</label>
                                        <%= f.select :image_name, ['-- Web Servers --','haproxy','httpd','nginx','-- Database Servers --','mongo', 'mysql','postges','redis','-- Other --','jenkins','logstash','memcached','node','tomcat'], {}, { :class => 'form-control' } %>
                                        </div>                                                                                                                             
                                        <div class="form-group">
                                        <label class="input-group-addon" for="category">
                                            Other docker image (ex. gitlab/gitlab-ce)</label>
                                            <input type="text" class="form-control" value="" name="custom_image_name" placeholder="image name" />
                                        </div>                                                                                                                             
                                        <!-- <div class="form-group">                                                                                                      
                                            <select class="form-control">                                                                                                  
                                                <option>Draft</option>                                                                                                     
                                                <option>Published</option>                                                                                                 
                                            </select>                                                                                                                      
                                        </div>-->                                                                                                                          
                                        <!--<div class="form-group">                                                                                                       
                                            <button type="submit" class="btn btn-success btn-sm">                                                                          
                                                <span class="glyphicon glyphicon-floppy-disk"></span>Create Container</button>                                             
                                           <button type="button" class="btn btn-default btn-sm">                                                                           
                                                <span class="glyphicon glyphicon-eye-open"></span>Preview</button>                                                         
                                        </div>-->                                                                                                                          
                                        <!--</form>-->                                                                                                                     
                                    </div>
                                </div>
				
				<div class="col-md-6">
                                    <div class="well well-sm well-primary">                                                                                                
                                        <!--<form class="form form-inline " role="form">-->                                                                                
                                        <div class="form-group">
                                            <label class="text-muted" for="tags">
                                            Environment Variables</label>
                                        <%= f.text_field :env_vars, class: "form-control", :placeholder => "ex. FOO=bar,BAR=foo" %>
					</div>
					<div class="form-group">
                                            <label class="text-muted" for="tags">
                                             Port Mapping (Leave blank for dynamic mapping)</label>
                                        <%= f.text_field :ports, class: "form-control", :placeholder => "ports (ex. 3306:3306,80:8080)" %>
                                        </div>
					<div class="form-group">                                                                                                           
                                            <label class="text-muted" for="tags">                   
                                            Persistant Volume</label>                                                                                                      
                                        <%= f.text_field :instance_link, class: "form-control", :placeholder => "path (ex. /var/lib/www)" %>                               
                                        </div>                                                                                                                             
                                        <div class="form-group">                                                                                                           
                                            <label class="text-muted" for="tags">                                                                                                              						Shared Volume</label>                                                                                                          
                                        <% options = options_from_collection_for_select(@tanko.containers.all, 'id', 'instance_name') %>                                   
                                        <%= f.select :shared_vol,  options, {:include_blank => 'No'}, { :class => 'form-control' } %>                                      
                                        </div>                                                                                                                             
                                        <div class="form-group">                                                                                                           
                                            <label class="text-muted" for="tags">
                                            Depends On</label>                                                                                                             
                                        <% options = options_from_collection_for_select(@tanko.containers.all, 'id', 'instance_name') %>                                   
                                        <%= f.select :depends_on,  options, {:include_blank => 'None'}, { :class => 'form-control' } %>                                    
                                        </div>                                                                                                                             
                                        <div class="form-group">                                                                                                           
                                            <button type="submit" class="btn btn-success btn-sm">                                                                          
                                                <span class="glyphicon glyphicon-floppy-disk"></span>Create Container</button>                                             
                                           <!-- <button type="button" class="btn btn-default btn-sm">                                                                      
                                                <span class="glyphicon glyphicon-eye-open"></span>Preview</button>-->                                                      
                                        </div>                                                                                                                             
                                        <!--</form>-->                                                                                                                     
                                    </div>                                                                                                                                 
                                </div>				

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- <div class="form-group">
                                        <label for="category">
                                            Category</label>
					<%= f.select :instance_type, options_for_select([["Load Balancer", "lb"],["Front End Service", "fe"],["Back End Service", "be"] ]), {}, { :class => 'form-control' } %>
                                    </div>-->
                                </div>
                                <div class="col-md-6">
                                    <!-- <div class="form-group">
                                        <label for="tags">
                                            Tags</label>
                                        <input type="text" class="form-control" id="tags" placeholder="Tags" />
                                    </div>-->
				    <!--<div class="form-group">
				    <label for="tags">
                                            Environment Variables</label>
                                        <%= f.text_field :env_vars, class: "form-control", :placeholder => "ex. FOO=bar,BAR=foo" %>
                                    </div>-->
                                </div>
                            </div>
                            <div class="row">
                                <!--<div class="col-md-6">
                                    <div class="well well-sm">
                                        <div class="input-group">
                                            <span class="input-group-addon">www.jquery2dotnet.com/</span>
                                            <input type="text" class="form-control" placeholder="Custom url" />
                                        </div>
                                    </div>
                                </div>-->

				<div class="col-md-6">
                                   <!-- <div class="well well-sm well-primary">
					<div class="form-group">
                                        <label class="input-group-addon" for="category">
                                            Select docker image (Official Images)</label>
                                        <%= f.select :image_name, ['-- Web Servers --','haproxy','httpd','nginx','-- Database Servers --','mongo', 'mysql','postges','redis','-- Other --','','jenkins','logstash','memcached','node','tomcat'], {}, { :class => 'form-control' } %>
					</div>
                                        <div class="form-group">
					<label class="input-group-addon" for="category">
                                            Other docker image (ex. gitlab/gitlab-ce)</label>
                                            <input type="text" class="form-control" value="" name="custom_image_name" placeholder="image name" />
                                        </div> -->
                                        <!-- <div class="form-group">
                                            <select class="form-control">
                                                <option>Draft</option>
                                                <option>Published</option>
                                            </select>
                                        </div>-->
                                        <!--<div class="form-group">
                                            <button type="submit" class="btn btn-success btn-sm">
                                                <span class="glyphicon glyphicon-floppy-disk"></span>Create Container</button>
                                           <button type="button" class="btn btn-default btn-sm">
                                                <span class="glyphicon glyphicon-eye-open"></span>Preview</button>
                                        </div>-->
                                        <!--</form>-->
                                    </div>                                                                                                 
                                </div>

                                <!-- <div class="col-md-6">
                                    <div class="well well-sm well-primary">
                                        <div class="form-group">
                                            <label for="tags">
                                            Persistant Volume</label>
                                        <%= f.text_field :instance_link, class: "form-control", :placeholder => "path (ex. /var/lib/www)" %>
					</div>
					<div class="form-group">
                                            <label for="tags">
                                            Shared Volume</label>
					<% options = options_from_collection_for_select(@tanko.containers.all, 'id', 'instance_name') %>
					<%= f.select :shared_vol,  options, {:include_blank => 'No'}, { :class => 'form-control' } %>
              				</div>
                                        <div class="form-group">
                                            <label for="tags">
                                            Depends On</label>
                                        <% options = options_from_collection_for_select(@tanko.containers.all, 'id', 'instance_name') %>
                                        <%= f.select :depends_on,  options, {:include_blank => 'None'}, { :class => 'form-control' } %>
                                        </div>
                                        <div class="form-group">                                                                                                                  
                                            <label for="tags">                                                                                                                    
                                             Port Mapping (Leave blank for dynamic mapping)</label>                                                                                                             
                                        <%= f.text_field :ports, class: "form-control", :placeholder => "ports (ex. 3306:3306,80:8080)" %>                                      
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-sm">
                                                <span class="glyphicon glyphicon-floppy-disk"></span>Create Container</button>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th-list">
                            </span>META DATA</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Title"  />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Description" />
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Keywords" ></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm well-primary">
                                        <div class="form-group">
                                            <a href="http://www.jquery2dotnet.com" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-floppy-disk">
                                            </span>Save</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
 <p>
   <!-- <%= f.submit %> -->
  </p>
<% end %>
